.Layout-footer {
    background-color: #0B1129;
    height:10px;
}
.Layout{
  width: 100%;
}
.Layout-content{
  height: 80vh;
  color: white;
  text-decoration: none;
  background-color:#3637fb;
}
.Layout-content a{
  color: white;
  text-decoration: none;
}
.nav{
  height: 10vh;
}
.Layout-footer{
  height: auto;
}
.Layout-blog{
  font-size: 42px;
  margin-left: 200px;
  margin-right: 200px;
}
