.Input-label {
    font-family: 'Euclid Flex';
    font-weight: 700;
    color: #fefefe;
    font-size: 0.875rem;
    text-transform: uppercase;
    display: block;
    padding-top: 20px;
    margin-bottom: 7px;
}

.Input-type {
    border: 1px solid #fefefe;
    background: transparent;
    font-size: 0.875rem;
    padding: 10px 20px;
    color: #fefefe;
    width: 100%;
}

.Input-type::placeholder {
    color: #fefefe;
}
