.Input-label {

  display: block;
  padding-top: 20px;
  margin-bottom: 7px;

  color: #fefefe;
  font-family: 'Euclid Flex';

  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
}

.Input-type {

  width: 100%;

  padding: 10px 20px;
  background: transparent;
  border: 1px solid #fefefe;

  color: #fefefe;

  font-size: 0.875rem;
}

.Input-type::placeholder {
  color: #fefefe;
}
