.Separator {
    background-color: #f9f9f9;
    height: 212px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Separator-title {
    font-size: 56px;
    font-family: 'Euclid Flex', sans-serif;
    color: #0B1129;
    text-align: center;
}
