.Separator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 212px;
  background-color: #f9f9f9;
}

.Separator-title {

  color: #0b1129;
  font-family: 'Euclid Flex', sans-serif;
  font-size: 56px;

  text-align: center;
}
