.PlayButton {
    position: absolute;
    z-index: 1;
    left: 0;
  }

.PlayButton-icon {
    color: #fff;
}

.PlayButton-label {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    margin-right: 8px;
    font-family: 'Euclid Flex', sans-serif;
    color: #fff;

    
    align-items: center;

}
