@import '../../settings.css';

.Link {

  padding: var(--size-28) 0;

  padding-right: var(--size-8);

  color: rgba(255, 255, 255, 0.7);
  font-family: 'Euclid Flex', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;

  text-decoration: none;

  @media (--tablet-breakpoint) {
    padding-right: var(--size-16);

    font-size: 16px;
  }
}

.Link:hover {

  color: var(--white);
  text-decoration: underline;
}
