@import '../../settings.css';

.MailingList {
  margin: var(--size-16) auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (--tablet-breakpoint) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.Input {
  width: 100%;

  @media (--tablet-breakpoint) {
    width: auto;
  }
}

.MailingList-button {
  background: #0652fd;
  padding: 0 60px;
  border: none;
  height: 40px;
  width: 100%;
  margin: var(--size-16);
  color: #fff;
  font-family: 'Euclid Flex', sans-serif;
  font-size: var(--size-16);
  position: relative;
  overflow: hidden;

  @media (--tablet-breakpoint) {
    background: #0652fd;
    padding: 0 60px;
    border: none;
    height: 40px;
    margin-left: 10px;
    color: #fff;
    font-family: 'Euclid Flex', sans-serif;
    font-size: 16px;
    position: relative;
    overflow: hidden;
  }
}

.MailingList-button:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  transform: translate(-150%, -150%) rotate(-45deg) scale(1);
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

.MailingList-button:hover {
  background: #0241ce;
}

.MailingList-buttonText {
  @media (--tablet-breakpoint) {
    position: relative;
    transition: all 0.6s ease-in-out;
  }
}

.MailingList-button:hover .MailingList-buttonText {
  color: var(--white);
}
