@import '../settings.css';

.Hero {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-height: 815px;
  max-height: 815px;

  background-size: cover;

  color: var(--dark-blue);
}

.Hero-featureContainer {
  font-size: var(--size-36);
  font-weight: 700;
  @media (--tablet-breakpoint) {
    font-size: var(--size-88);
    font-weight: 700;
  }
}
.Hero-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
