.Hero {
  height: 90vh;
  max-height: 815px;
  background: url(http://via.placeholder.com/1200x500) top center;

  background-size: cover;
}

.Hero-featureContainer {
  width: 50%;
  padding: 0 6.4px 0 6.4px;
  margin: 10px;
}
