.CardList {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  grid-gap: 20px;
}

.CardList li:first-child {
  grid-column: 1 / -1;
}
