@import '../settings.css';

.CardList {

  display: grid;
  width: 95%;
  max-width: 1000px;
  margin: var(--size-52) auto;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
  grid-gap: 20px;
}

.CardList li:first-child {
  grid-column: 1 / -1;
}
