@import '../settings.css';

.Logo {
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 0;

  color: #fff;
}

.Logo a {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--white);

  text-decoration: none;

  @media (--tablet-breakpoint) {
    align-items: initial;
  }
}

.Logo-image {
  width: 200px;
  height: 29px;

  color: #ffffff;

  font-size: 16px;
  line-height: 24px;
}

.Logo-text {
  font-size: 12px;
}
