.Label {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.Label-text {

  margin-right: 8px;

  font-family: 'Euclid Flex', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}
