.Label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.Label-text {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    margin-right: 8px;
    font-family: 'Euclid Flex', sans-serif;
}
