@import '../settings.css';

.Layout-footer {
  background-color: var(--dark-blue);
  height: 10px;
}

.Layout {
  width: 100%;
  background-color: #fff;
}

.Layout-content {
  margin: 0;
  color: var(--dark-blue);
  text-decoration: none;
}

.Layout-content a {
  color: #fff;
  text-decoration: none;
}

.nav {
  height: 10vh;
}

.navbar {
  margin: 0;
  background: var(--tnds-blue);
}

.Layout-footer {
  height: auto;
}

.Layout-blog {
  font-size: var(--size-20);
  margin-left: 200px;
  margin-right: 200px;
}
