.Layout-footer {
  background-color: #0b1129;
  height: 10px;
}
.Layout {
  width: 100%;
  background-color: #0000ff;
}
.Layout-content {
  color: #fff;
  text-decoration: none;
}
.Layout-content a {
  color: #fff;
  text-decoration: none;
}
.nav {
  height: 10vh;
}
.Layout-footer {
  height: auto;
}
.Layout-blog {
  font-size: 42px;
  margin-left: 200px;
  margin-right: 200px;
}
