@import '../settings.css';

.Layout-footer {
  background-color: var(--dark-blue);
  height: 10px;
}

.Layout {
  width: 100%;
  background-color: #fff;
}

.Layout-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 750px;
  padding: var(--size-52) var(--size-28);
  margin-right: auto;

  margin-left: auto;

  color: var(--dark-blue);
  text-decoration: none;
}

.Layout-content a {
  color: #000;
  text-decoration: none;
}

.nav {
  height: 10vh;
}

.navbar {
  margin: 0;
  background: var(--tnds-blue);
}

.Layout-footer {
  height: auto;
}

.Layout-blog {
  font-size: var(--size-16);
  font-weight: var(--size-20);
  max-width: 42rem;
  margin: var(--size-28) auto;
}

.Layout-blog p {
  margin-bottom: var(--size-20);
}
