@import '../settings.css';

.Card {
  display: flex;
  flex-direction: column;
  padding-top: 20px;

  border-bottom: 1px solid #eee;
  color: #000;

  font-family: 'Euclid Flex', sans-serif;

  @media (--tablet-breakpoint) {
    flex-direction: row;
    padding: 30px;
  }
}

.Card-PostTextPreview {
}

.Card-PostTitle,
.Card-PostTextPreview {

  margin-left: 20px;
  color: #000;
}

.Card-PostTitle {

  padding: 10px 0;
  font-size: 30px;

  font-weight: 700;
}

.Card-PostDate {

  margin-left: 20px;
  color: #999;
}

.Card-PostTextPreview {
  margin-top: 20px;
}

.Card-PostImage {
  max-width: 200px;

  font-size: 88px;
}

.Card-PostImage {
  margin: auto;
}

.Card-PostImage img {
  width: 100%;

  @media (--tablet-breakpoint) {
    flex-direction: row;
    padding: 30px;
    margin-right: 100px;
  }
}
