.Card {
  padding: 30px;
  display: flex;
  flex-direction: row;
  font-family: 'Euclid Flex', sans-serif;
  border-bottom: 1px solid #eee;
  color: #000;
}

.Card-PostTextPreview {
}

.Card-PostTitle,
.Card-PostTextPreview {
  color: #000;
  margin-left: 20px;
}

.Card-PostTitle {
  font-size: 30px;
  padding: 10px 0;
  font-weight: 700;
}

.Card-PostDate {
  color: #999;
  margin-left: 20px;
}

.Card-PostTextPreview {
  margin-top: 20px;
}

.Card-PostImage img {
  width: 100%;
  margin-right: 100px;
}
