@import '../components/settings.css';

.blog-title {
  font-size: var(--size-52);
  font-height: var(--size-88);
}

.Card-PostImage {
  max-width: 200px;
  font-size: 88px;
}

.Card-PostImage {
  max-width: 150px;
  margin: auto;
}
