@import '../components/settings.css';

.blog-title {
  font-size: var(--size-52);
  font-height: var(--size-88);
}

.Layout-Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  grid-gap: 20px;
  grid-gap: 20px;
}
