
.Navbar{
    box-sizing: border-box;
    display: flex;
    align-content: center;
    max-width: 90%;
    margin: 0 auto;
}
ul{
    list-style-type: none;
}
.Navbar-Logo{
    /* display: inline; */
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 30%;
}
.Navbar-Links{
    width: 70%;
    display: flex;
    justify-content: end;
    align-items: center;
    color: #000;
    margin-right: 50px;
}
.Navbar-Links a{
    display: inline-block;
    align-self: center;
    margin-left:30px;
}
.Navbar-Links a:last-child.Link{
    background-color:blue;
    padding: 10px;
    align-self: center;
    padding-top: 23px;
}
