@import '../src/components/settings.css';

.Layout-blog {
  font-size: var(--size-16);
  line-height: var(--size-20);
}

.Layout-blog img {
  width: 100px;
}

.backLink {
  color: black;
  font-size: var(--size-20);
}

.backArrow {
  font-size: var(--size-28);
  font-weight: var(--font-weight-bold);
}

.postTitle {
  font-size: var(--size-52);
  line-height: var(--size-88);
  font-weight: var(--font-weight-bold);
  padding: 30px auto;
}

.postBody {
  margin: var(--size-28) auto;
}
