@import '../settings.css';

* {
  box-sizing: border-box;
}

.Footer {
  width: 100%;
}

.Footer-content {

  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 20px auto;
}

.Footer-panel {
  flex-grow: 2;
  width: 100%;

  padding: 40px 30px 0 30px;
  margin-right: 15px;

  background: #0b1129;
}

.Footer .Input {
  flex-grow: 3;
}

.Footer-heading,
.Footer-text,
.Footer-label {

  color: #fff;
  font-family: 'Euclid Flex', sans-serif;
}

.Footer-heading {

  margin: 0;
  font-size: 30px;
}

.Footer-label {
  display: block;
  margin-top: 20px;
}

.Footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 15px;

  @media (--tablet-breakpoint) {
    flex-direction: row;
  }
}

.Footer-link {

  display: block;
  padding: 3px 0;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Euclid Flex', sans-serif;

  text-decoration: none;
}

.Footer-link:hover {

  color: #fff;
  text-decoration: underline;
}
