.Avatar {

  position: relative;

  display: inline-block;

  background: rgb(12, 13, 42);
  background-position: 50% 50%;
  background-repeat: no-repeat;

  border: 40px solid #0c0d2a;

  transform: scale(1.03);
}

.Avatar:after {
  content: ' ';

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgb(52, 37, 255);

  background-size: 153px 153px;
  mix-blend-mode: multiply;
}
