.ApplyLink {

  position: relative;

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  overflow: hidden;

  background-color: #0c51fe;

  color: #fff;
  font-family: 'Euclid Flex', sans-serif;
  font-weight: 600;
  text-decoration: none;

  text-transform: uppercase;
}

.ApplyLink:before {
  content: '';

  position: absolute;

  top: 0;
  left: 0;

  z-index: 1;

  display: block;
  width: 100%;
  height: 100%;

  background: #0b102a;

  transform: translate(-150%, -150%) rotate(45deg) scale(1.5);

  transition: all 0.6s ease-in-out;
}

.ApplyLink:hover:before {
  transform: translate(0) rotate(45deg) scale(1.5);
}

.ApplyLink--home {
  width: 300px;
  height: 300px;

  font-size: 20px;
}

.ApplyLink--home .ApplyLink-text {
  position: absolute;
  z-index: 10;
}
